.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}
.nav a {
  margin-left: 12px;
}
.nav .logo {
  margin-right: auto;
}

.signOut {
  cursor: pointer;
}

@media (max-width: 767px) {
  .navLinks {
    display: none;
  }
}
